@use '../../partials/variables' as *;

.recipe-card {
    display: flex;
    width: 100%;
    padding: 0.5rem;
    border: 1px solid grey;
    border-radius: 5px;
    margin-bottom: 0.5rem;

    &__pic {
        border-radius: 5px;
        margin-right: 0.5rem;
    }

    &__title {
        font-size: .8rem;
        margin-bottom: .5rem;
    }

    &__book {
        font-size: .8rem;
    }

    &__page {
        font-size: .8rem;
    }
}