@use '../../partials/variables' as *;
@use '../../partials/placeholders' as *;
@import '../../partials/typography';
@import '../../partials/mixins';

.recipe-list-item {
    display: flex;
    width: 100%;
    padding: 0.5rem;
    border: 1px solid color(accent);
    border-radius: 5px;
    margin-bottom: 1rem;

    @media (min-width: 748px) {
        width: calc(50% - 8px);
        // max-width: 350px;

        &:nth-child(odd) {
            // border: 1px solid red;
            margin-right: 1rem;
        }
    }

    &__pic-div {
        width: 100px;
        height: 100px;
        border-radius: 5px;
        margin-right: 0.75rem;
        background-color: rgba(color(accent), 0.3);
        background-image: url('../../assets/icons/food.svg');
        background-repeat: no-repeat;
        background-position: 50% 50%;
        background-size: 2rem;
    }

    &__pic {
        @include contained-pic; 
        border-radius: 5px;   
    }

    &__details-div {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 100%;
    }

    &__title {
        @include m-h3;
    }

    &__source {
        @include book-details;
    }

    &__icon-group {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        align-items: center;
        width: 100%;

        > :nth-child(3) {
            margin-left: 0.75rem;
        }
    }

    &__category {
        @include category;
        margin-right: auto;
        cursor: default;
    }

    &__button {
        @extend %button-tag-resets;
    }

    &__icon {
        @extend %icon-button-small;
    }

    
}