@use '../../partials/variables' as *;
@import '../../partials/typography';
@import '../../partials/mixins';

.recipe-list-item {
    display: flex;
    width: 100%;
    padding: 0.5rem;
    border: 1px solid color(accent);
    border-radius: 5px;
    margin-bottom: 1rem;

    &__pic-div {
        width: 100px;
        height: 100px;
        margin-right: 0.75rem;
    }

    &__pic {
        @include containedPic;
        border-radius: 5px;
        
    }

    &__details-div {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 100%;
    }

    &__title {
        @include m-h3;
    }

    &__source {
        @include book-details;
    }

    &__icon-group {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        width: 100%;
    }

    &__category {
        @include category;
        margin-right: auto;
    }

    &__icon {
        width: 1.25rem;
        margin-left: 0.75rem;
        opacity: 0.4;
    }

    
}