@import '../../partials/mixins'; 
@import '../../partials/typography';
@import '../../partials/variables'; 

.recipe {
   position: relative;
     &__top {
        @include recipePicDiv;
         background-image: url('../../assets/icons/food.svg');
         background-repeat: no-repeat;
         background-position: 50% 40%;
         background-size: 5rem;

         @media (min-width: 768px) {
            display: none;
         }
     }

     &__side {
        display: flex;
     }

     &__side-pic-container {
        display: none;
        width: 300px;
        height: 250px;
        border-radius: 5px;
        margin-right: 2rem;
        margin-bottom: 1.5rem;
        overflow: hidden;

        @media (min-width: 768px) {
            display: block;
        }
     }
     
     &__pic {
        @include containedPic;
     }

     &__bottom {
        @include overlapTopDiv;
        padding: 1.5rem 1rem;

        @media (min-width: 768px) {
            position: static;
            padding: 2rem 1.5rem;

            &:before {
               content: '';
               display: block;
               position: absolute;
               top: 0;
               left: 0;
               z-index: -5;
               width: 100vw;
               height: 30px;
               background-color: color(accent);
            }
        }

        @media (min-width: 948px) {
            padding: 2rem calc( 50% - 450px );
        }
     }

     &__details-div {
        padding-left: 2.25rem;
     }

     &__category {
        @include category;
        margin-bottom: 1rem;
     }

     &__source {
        margin-bottom: 1rem;
        font-size: 0.75rem;
        font-style: italic;
        color: grey;
     }

     &__subtitle {
        @include m-h2;
        margin-bottom: 0.75rem;
        font-size: 1.25rem;
     }

     &__list {
        padding-left: 1rem;
        margin-bottom: 1rem;
        font-size: 0.85rem;

        &--ingredients {
           list-style-type: circle;
        }

         &--instructions {
            list-style-type: decimal;
            max-width: 700px;
         }

         // targets list items inserted with dangerouslySetHTML attribute
         > li {
            margin-bottom: 0.75rem;
         }
     }
}