@import '../../partials/mixins'; 
@import '../../partials/typography';
@import '../../partials/variables'; 

.recipe {
     &__top {
        @include recipePicDiv;
         background-image: url('../../assets/icons/food.svg');
         background-repeat: no-repeat;
         background-position: 50% 40%;
         background-size: 5rem;
     }
     
     &__pic {
        @include containedPic;
     }

     &__bottom {
        @include overlapTopDiv;
        padding: 1.5rem 2rem 1.5rem 1rem;
     }

     &__title-div {
        display: flex;
        margin-bottom: 1rem;
     }

     &__go-back {
        @include backIcon;
     }

     &__title {
        @include m-h1;
        margin-right: auto;
     }

     &__edit {
        height: 2rem;
        margin-top: 0.3rem;
        opacity: .4;
     }

     &__details-div {
        padding-left: 2.25rem;
     }

     &__category {
        @include category;
        margin-bottom: 1rem;
     }

     &__source {
        margin-bottom: 1rem;
        font-size: 0.75rem;
        font-style: italic;
        color: grey;
     }

     &__subtitle {
        @include m-h2;
        margin-bottom: 0.5rem;
        font-size: 1.25rem;
     }

     &__list {
        padding-left: 1rem;
        margin-bottom: 1rem;
        font-size: 0.85rem;

        &--ingredients {
           list-style-type: circle;
        }

         &--instructions {
            list-style-type: decimal;
         }

         // targets list items inserted with dangerouslySetHTML attribute
         > li {
            margin-bottom: 0.75rem;
         }
     }
}