@use '../../partials/placeholders' as *;
@import '../../partials/mixins';

.sign-up {
    &__form {
        @include mini-form;
    }

    &__label {
        margin-bottom: 0.5rem;
    }

    &__input {
        @include input-field;
        margin-bottom: 0.25rem;
    }

    &__error {
        display: flex;
        height: 1rem;
        margin-bottom: .5rem;
    }

    &__alert-icon {
        width: 15px;
        margin-right: 0.5rem;
    }

    &__error-message {
        font-size: .85rem;
        font-style: italic;
        color: red;
    }

    &__password-checklist {
        list-style: none;
        font-size: .85rem;
        padding-left: .25rem;
        margin-bottom: .75rem;
    }

    &__checklist-item {
        display: flex;
        align-items: center;
        margin-bottom: .25rem;
    }

    &__checklist-icon {
        width: 1rem;
        margin-right: 0.5rem;
    }

    &__button {
        @extend %block-button;
        align-self: center;
    }
}