@import '../../partials/mixins';
@import '../../partials/variables';

.upload-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 1rem;
    background-color: rgba(color(accent), 0.4);
    // border: 1px solid red;

    &__button {
        width: 3rem;
        border: none;
        background-color: transparent;
    }

    &__icon {
        width: 100%
    }
}