@import '../../partials/mixins.scss';

.choose-button {
    display: flex;
    justify-content: center;
    width: 100vw;
    height: 90%;
    cursor: pointer;

    &__icon {
        width: 5rem;
    }

    &__input {
        display: none;
    }
}