@import '../../partials/resets';
@import '../../partials/variables';

.main {
    padding: 1rem;

    &__title {
        font-size: 1.5rem;
        color: color(heading-text);
        margin-bottom: 0.5rem;
    }
}

