@import '../../partials/resets';
@import '../../partials/typography';
@import '../../partials/variables';

.recipe-list {
    padding: 2rem 1rem;

    &__title-group {
        display: flex;
        margin-bottom: 2rem;
    }

    &__title {
        @include m-h1;
        margin-right: 1rem;
    }
}