@import '../../partials/mixins';

.home-nav {
    display: flex;
    justify-content: space-evenly;
    align-items: center;

    &__icon {
        width: 1.5rem;

        &--bigger {
            width: 3.5rem;
        }
    }
}