@use '../../partials/placeholders' as *;
@use '../../partials/placeholders' as *;
@import '../../partials/mixins';
@import '../../partials/typography';
@import '../../partials/variables';

.body-header {
    display: flex;
    align-items: center;
    margin-bottom: 1rem;

    &__go-back {
        @extend %button-tag-resets;
        margin-right: 0.5rem;
    }

    &__title {
        @include m-h1;
        margin-right: auto;
    }

    &__button {
        @extend %button-tag-resets;
        margin-left: 1rem;
    }

    &__icon {
        @extend %icon-button-large;
        opacity: .4;
    }
}