@import '../../partials/typography';
@import '../../partials/variables';

.note {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    padding-bottom: 0.5rem;
    border-radius: 5px;
    margin-bottom: 1rem;

    &__text {
        width: 100%;
        margin-bottom: 0.5rem;
    }

    &__date {
        @include book-details;
    }

    &:nth-child(odd) {
        background-color: rgba(color(body-text), .05);
    }

    &:nth-child(even) {
        background-color: rgba(color(body-text), .15);
    }
}