@import '../../partials/typography';
@import '../../partials/variables';

.note {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem;
    padding-bottom: 0.5rem;
    border-radius: 5px;
    margin-bottom: 1rem;

    &__text {
        width: 100%;
        padding: 0.5rem;
        margin-bottom: 0.5rem;

        &--editable {
            border: 2px solid #FFF;
            border-radius: 5px;
        }
    }

    &__date {
        @include book-details;
        padding: 0.5rem;
        margin-right: auto;
    }

    &:nth-child(odd) {
        background-color: rgba(color(body-text), .05);
    }

    &:nth-child(even) {
        background-color: rgba(color(body-text), .15);
    }
}