@import '../../partials/typography';
@import '../../partials/variables';

.note {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-items: flex-start;
    padding: 0.5rem 0;
    border-bottom: 1px solid lightgrey;

    &__text {
        @extend %note-text;
        width: 80%;
        margin-right: auto;

        &--editable {
            background-color: rgba(0, 0, 0, 0.05);
            border-radius: 5px;
            outline: none;
        }
    }

    &__date {
        @include book-details;
        margin-right: auto;
    }

    > :last-child {
        margin-left: 0.2rem;
    }
}