@import '../../partials/variables.scss';

.header {
    width: 100%;
    padding: 1rem;
    background-color: color(accent);

    &__top-row {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 1rem;
    }
    
    &__logo {
        height: 2.75rem;
        margin-left: -.25rem;
    }

    &__menu {
        width: 2.5rem;
    }

    &__bottom-row {
        display: flex;
        align-items: center;

        // targets SearBar component
        > :first-child {
            margin-right: 1rem;
        }
    }

}