@use '../../partials/placeholders' as *;
@import '../../partials/mixins';
@import '../../partials/variables';

.login {
    padding: 1rem;

    &__form {
        @include mini-form;
    }

    &__label {
        margin-bottom: 0.5rem;
    }

    &__input {
        @include input-field;
        margin-bottom: 1.5rem;
    }

    &__small-text {
        align-self: center;
        margin-bottom: 1.5rem;
        font-size: 0.85rem;

        > a {
            color: color(accent);
            text-decoration: underline;
            transition: filter .5s ease;

            &:visited {
                color: color(accent);
            }

            &:hover {
                filter: hue-rotate(90deg);
            }
        }
    }

    &__button {
        @extend %block-button;
        align-self: center;
    }
}