@import '../../partials/mixins';
@import '../../partials/typography';
@import '../../partials/variables';

.recipe-form {
    width: 100%;

    &__top {
        @include recipePicDiv;
    }

    &__pic {
        @include containedPic;
    }

    &__bottom {
        @include overlapTopDiv;
        padding: 1.5rem 1rem;
        padding-right: 2rem;
    }

    &__details-div {
        display: flex;
        flex-direction: column;
        padding-left: 2.25rem;
    }

    &__label {
        @include form-label;
    }

    &__text-input {
        @include input-field;
    }

    &__label-div {
        display: flex;
        align-items: center;
    }

    &__label-icon {
        height: 1rem;
    }

    &__label-icon {
        height: 100%;
    }

    &__dynamic {
        @include input-field;
        padding-left: 2rem;
        padding-bottom: 0;

        &--ingredients {
            list-style-type: circle;
        }

        &--instructions {
            list-style-type: decimal;
        }

        > li {
            margin-bottom: 0.5rem;
        }

    }
}

.recipe-form {

    &__label-div {
        display: flex;
        align-items: center;
        // border: 1px solid red;
        
    }

    &__label-icon {
        width: 25px;
        // border: 1px solid blue;
    }
}