@import '../../partials/mixins';
@import '../../partials/typography';
@import '../../partials/variables';

.recipe-form {
    position: relative;
    width: 100%;

    &__top {
        @include top-pic-container;
        position: relative;
    }
    &__delete-icon {
        position: absolute;
        right: 1rem;
        top: 1rem;
        width: 1.75rem;
        opacity: 0.5;
        cursor: pointer;
    }

    &__pic {
        @include contained-pic;
    }

    &__bottom {
        @include bottom-details-container;
    }

    &__details-div {
        display: flex;
        flex-direction: column;
        padding-left: 2.25rem;
    }

    &__side-by-side {
        display: flex;
    }

    &__side-pic-container {
        @include side-pic-container;
        position: relative;
    }

    &__side-recipe-details {
        display: flex;
        flex-direction: column;
        flex-grow: 2;
        width: 100%;

        @include tablet {
            width: auto;
        }
    }

    &__book-page-group {
        display: flex;
        justify-content: space-between;
        width: 100%;

        @include tablet {
            width: auto;
        }
    }

    &__input-group {
        display: flex;
        flex-direction: column;
        width: calc(50% - 1rem);
    }

    &__label {
        @include form-label;
        margin-right: auto;
    }

    &__text-input {
        @include input-field;
    }

    &__dropdown{
        @include category;
        width: fit-content;
        padding-right: 2rem;
        font-size: 0.8rem;
        border: none;
        outline: none;
        appearance: none;
        background-image: url('../../assets/icons/chevron-down.svg');
        background-repeat: no-repeat;
        background-size: 1rem;
        background-position: 90% 50%;
        margin-bottom: 1.5rem;
    }

    &__label-div {
        display: flex;
        align-items: center;
        margin-bottom: .25rem;
    }

    &__label-icon {
        width: 20px;
        margin-left: 1rem;
    }

    &__dynamic {
        @include input-field;
        padding-left: 2rem;
        padding-bottom: 0;

        &--ingredients {
            list-style-type: circle;
        }

        &--instructions {
            list-style-type: decimal;
        }

        > li {
            margin-bottom: 0.5rem;
        }
    }
}