@import '../../partials/mixins';
@import '../../partials/typography';
@import '../../partials/variables';

.recipe-form {
    width: 100%;

    &__top {
        background-color: color(accent);
        height: 350px;
    }

    &__pic {
        @include containedPic;
    }

    &__bottom {
        @include overlapTopDiv;
        padding: 1.5rem 1rem;
        padding-right: 2rem;
    }

    &__title-div {
        display: flex;
        align-items: center;
        margin-bottom: 1rem;
    }

    &__go-back {
        @include backIcon;
    }

    &__title {
        @include m-h1;
        margin-right: auto;
    }

    &__button {
        border: none;
        background-color: transparent;
    }

    &__save {
        height: 1.5rem;
        margin-top: 0.25rem;
        opacity: .4;
    }

    &__details-div {
        display: flex;
        flex-direction: column;
        padding-left: 2.25rem;
    }

    &__label {
        @include form-label;
    }

    &__text-input {
        @include input-field;
    }

    &__label-div {
        display: flex;
        align-items: center;
    }

    &__label-icon {
        height: 1rem;
    }

    &__label-icon {
        height: 100%;
    }

    &__dynamic {
        @include input-field;
        padding-left: 2rem;

        &--ingredients {
            list-style-type: circle;
        }

        &--instructions {
            list-style-type: decimal;
        }

        > li {
            margin-bottom: 0.5rem;
        }

    }
}

.recipe-form {

    &__label-div {
        display: flex;
        align-items: center;
        // border: 1px solid red;
        
    }

    &__label-icon {
        width: 25px;
        // border: 1px solid blue;
    }
}