@use './variables' as *; 

@mixin tablet {
    @media (min-width: 768px) {
        @content;
    }
}

@mixin desktop {
    @media (min-width: 1280px) {
        @content;
    }
}



// used when picture of recipe is on top of the recipe details
// small screens on recpie, add recipe, and edit recipe pages
@mixin top-pic-container {
    width: 100%;
    height: 225px;
    background-color: rgba(color(accent), .2);
    overflow: hidden;

    @media (min-width: 768px) {
        display: none;
    }
}

// used when picture of recipe is next to the recipe details
// large screens on recpie, add recipe, and edit recipe pages
@mixin side-pic-container {
    display: none;
    width: 300px;
    height: 250px;
    border-radius: 5px;
    margin-right: 2rem;
    margin-bottom: 1.5rem;
    background-color: rgba(color(accent), .3);
    overflow: hidden;

    @media (min-width: 768px) {
        display: block;
    }
}

@mixin contained-pic {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

@mixin pic-container-bg {
    background-image: url('../assets/icons/food.svg');
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: 5rem;
}

@mixin bottom-details-container {
    position: relative;
    top: -30px;
    border-radius: 30px 30px 0 0;
    background-color: #FFFFFF;
    padding: 1.5rem 1rem;

    @media (min-width: 768px) {
        position: static;
        padding: 2rem 1.5rem;

        &:before {
            content: '';
            display: block;
            position: absolute;
            top: 0;
            left: 0;
            z-index: -5;
            width: 100%;
            height: 30px;
            background-color: color(accent);
        }
    }

    @media (min-width: 948px) {
        padding: 2rem calc( 50% - 450px );
    }
}

@mixin back-icon {
    height: 1.75rem;
    margin-top: 0.20rem;
    margin-right: 0.5rem;
}

@mixin input-field {
    padding: 0.5rem 0.75rem;
    border: 1px solid color(accent);
    border-radius: 5px;
    outline: none;
    margin-bottom: 1.5rem;
    font-size: 1rem;
}

@mixin category {
    width: fit-content;
    padding: 0.60rem 1rem;
    border-radius: 10px;
    color: #FFFFFF;
    background-color: color(accent);
    font-size: 0.75rem;
    line-height: 0.60rem;
    font-weight: bold;
    text-transform: uppercase;
}

@mixin block-button {
    width: fit-content;
    padding: .75rem 1.5rem;
    border: none;
    border-radius: 5px;
    outline: none;
    color: #FFF;
    background-color: color(accent);
    font-weight: bold;
    text-transform: uppercase;
    cursor: pointer;
    transition: filter .5s ease;

    &:hover {
        filter: hue-rotate(90deg);
    }
}


@mixin icon-button-small {
    border: none;
    background-color: transparent;
    width: 1.75rem;
    cursor: pointer;
}

@mixin icon-button-pic {
    width: 100%;
    opacity: 0.4;
}

@mixin body-rounded-corners {
    position: relative;
    border-radius: 30px;
    background-color: #FFF;

    &:before {
        content: '';
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        z-index: -5;
        width: 100%;
        height: 30px;
        background-color: color(accent);
    }
}