@use './variables' as *; 

@mixin m-h1 {
    color: color(accent);
    font-size: 1.75rem;
    line-height: 2rem;
}

@mixin m-h2 {
    font-size: 1.25rem;
    line-height: 1.5rem;
}

@mixin m-h3 {
    font-size: 0.9rem;
    line-height: 1.5rem;
}

@mixin book-details {
    font-size: 0.75rem;
    font-style: italic;
    opacity: 0.6;
}

@mixin form-label {
    margin-bottom: 0.25rem;
    font-size: 0.9rem;
    line-height: 1rem;
    text-transform: uppercase;
}